.pin-container {
    position: relative;
  }
  
  .icon-container {
    position: absolute;
    top: 10px;
    right: 10px;
    display: none;
    flex-direction: column;
  }
  
  .pin-container:hover .icon-container {
    display: flex;
  }
  
  .download-link {
    color: inherit; /* Ensures the link takes on the color of the icon */
    text-decoration: none;
  }
  


  